<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>R2sDashboard</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>R2sSearch</servlet-name>
    <jsp-file>/R2sSearch.html</jsp-file>
  </servlet> 
  <servlet-mapping>
    <servlet-name>R2sSearch</servlet-name>
    <url-pattern>/R2sSearch.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>R2sUpload</servlet-name>
    <jsp-file>/R2sUpload.html</jsp-file>
  </servlet> 
  <servlet-mapping>
    <servlet-name>R2sUpload</servlet-name>
    <url-pattern>/R2sUpload.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>R2sDashboard</servlet-name>
    <jsp-file>/R2sDashboard.html</jsp-file>
  </servlet> 
  <servlet-mapping>
    <servlet-name>R2sDashboard</servlet-name>
    <url-pattern>/R2sDashboard.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <description> </description>
    <servlet-name>Upload</servlet-name>
    <servlet-class>r2sdashboard.Upload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Upload</servlet-name>
    <url-pattern>/Upload.html</url-pattern>
  </servlet-mapping>
</web-app>