<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>R2s</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
    <description>R2s</description>
  <servlet>
    <servlet-name>heartbeat</servlet-name>
    <servlet-class>R2s.heartbeat</servlet-class>
  </servlet> 
  <servlet-mapping>
    <servlet-name>heartbeat</servlet-name>
    <url-pattern>/index.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>R2s</servlet-name>
    <servlet-class>R2s.R2s</servlet-class>
  </servlet> 
  <servlet-mapping>
    <servlet-name>R2s</servlet-name>
    <url-pattern>/R2s.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>R2sSearch</servlet-name>
    <jsp-file>/R2sSearch.html</jsp-file>
  </servlet> 
  <servlet-mapping>
    <servlet-name>R2sSearch</servlet-name>
    <url-pattern>/R2sSearch.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>R2sDashboard</servlet-name>
    <jsp-file>/R2sDashboard.html</jsp-file>
  </servlet> 
  <servlet-mapping>
    <servlet-name>R2sDashboard</servlet-name>
    <url-pattern>/R2sDashboard.html</url-pattern>
  </servlet-mapping>
</web-app>